# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/opentype?schema=public"

# Port (optional, defaults to 3000)
PORT=3000

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
